<section class="Form my-4 mx-5 bg-dark  text-light text-center text-sm-start rounded">
  <div class="container ">
    <div class="row d-sm-flex align-items-center justify-content-between">
      <div class="col-lg-5 ">
        <div class="lead my-4">
          <%= image_tag("logo.png", class: 'img-fluid w-100 rounded d-none d-sm-block') %>
          <p>
            Ak tvoj účet už existuje, môžeš sa prihlásiť
            <%= link_to "TU!", sign_in_path, class: "link-danger" %>
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <%= form_with model: @user, url: sign_up_path do |form| %>
          <% if @user.errors.any? %>
            <div class="alert alert-danger">
              <% @user.errors.full_messages.each do |message| %>
                <div><%= message %></div>
              <% end %>
            </div>
          <% end %>
          <form>
            <div class="form-row">
              <div class="col-lg-7">
                <h1>Registrácia</h1>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <%= form.label :name, "Meno", class: "form-label" %>
                <%= form.text_field :name, class: "form-control",placeholder: "Jozef" %>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <%= form.label :last_name, "Priezvisko", class: "form-label" %>
                <%= form.text_field :last_name, class: "form-control ",placeholder: "Mrkvicka" %>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <%= form.label :email, "Email", class: "orm-label"  %>
                <%= form.text_field :email, class: "form-control",placeholder: "name.lastname55@gmail.com" %>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <%= form.label :age, "Vek", class: "form-label" %>
                <%= form.number_field :age, class: "form-control" %>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <%= form.label :gender, "Pohlavie", class: "form-label" %>
                <%= form.select :gender, [["Muž","Muž"],["Žena","Žena"]], {}, {class: "form-control"} %>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <%= form.label :password, "Heslo", class: "form-label" %>
                <%= form.password_field :password, class: "form-control" %>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <%= form.label :password_confirmation, "Zopakuj heslo", class: "form-label" %>
                <%= form.password_field :password_confirmation, class: "form-control" %>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <%= form.submit "Registrácia", class: "btn btn-danger" %>
        <% end %>
        </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>

