<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= video.description %>
  </p>

  <p >
    <%=render video.comentars %>
  </p>
  <%=link_to "komentar",new_video_comentar_url(video) %>

</div>
