<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <link rel="icon" href=".app/assets/images/logo.png" type="image/x-icon">
        <%=link_to( image_tag("logo.png",:size => "120x50"), root_path, alt:"logo") %>
        <%= button_to "Domov", root_path, :method => "get", class:"btn btn-outline-secondary"%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= button_to "Testy", root_path, :method => "get", class:"btn btn-outline-secondary"%>
                </li>
                <li class="nav-item">
                    <%= button_to "Kurzy", courses_path, :method => "get", class:"btn btn-outline-secondary"%>
                </li>
              <%if !session[:user_id].nil?%>
              <li class="nav-item">
                <%= button_to "Môj profil", update_user_path, method: :get, class:"btn btn-outline-secondary "%>
              </li>
                <%end %>
              <%if !session[:user_id].nil?%>
              <li class="nav-item">
                <%= button_to "Logout", logout_path , method: :delete, class:"btn btn-outline-secondary" %>
              </li>
                <%end %>
              <%if !session[:user_id].nil? and policy(:video).new?%>
                <li class="nav-item">
                  <%= button_to "Pridaj video", videos_path , class:"btn btn-outline-secondary" %>
                </li>
              <%end %>
              <%if session[:user_id].nil? %>
              <li class="nav-item">
                <%= button_to "Prihlásenie", sign_in_path , method: :get, class:"btn btn-outline-secondary" %>
              </li>
                <%end %>
            </ul>
            <form class="d-flex">
                <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>