<div id="<%= dom_id open_question %>">
  <p>
    <strong>Question:</strong>
    <%= open_question.question %>
  </p>

  <p>
    <strong>Correctanswer:</strong>
    <%= open_question.correctAnswer %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= open_question.points %>
  </p>

  <p>
    <strong>Test:</strong>
    <%= open_question.test_id %>
  </p>

</div>
