<p style="color: green"><%= notice %></p>
<div class="text-dark text-center ">
  <h1>
    <%=@course.title %>
  </h1>

</div>

<div>


</div>
<ul class="list-group">
  <%@course.videos.each do |video|%>
    <li class="list-group-item"><%=link_to video.title, video_path(video)%></li>
  <%end %>
</ul>


<div>
    <%if policy(@course).edit? %>
  <%= link_to "Edit this courses", edit_course_path(@course) %> |
    <%end %>
  <%= link_to "Back to courses", courses_path %>
<%if policy(@course).destroy? %>
  <%= button_to "Destroy this courses", @course, method: :delete %>
  <%end %>
</div>
