<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>

  <%#=video_tag(url_for(video.file),controls: '') %>
</div>

<ul class="list-group">
  <%@course.videos.each do |video|%>
    <li class="list-group-item"><%=link_to video.title, video_path(video)%></li>
  <%end %>
</ul>


<div>
    <%if policy(@course).edit? %>
  <%= link_to "Edit this courses", edit_course_path(@course) %> |
    <%end %>
  <%= link_to "Back to courses", courses_path %>
<%if policy(@course).destroy? %>
  <%= button_to "Destroy this courses", @course, method: :delete %>
  <%end %>
</div>
