<div class="text-dark text-center ">
  <h1>
    Kapitoly kurzu <%=@course.title %>
  </h1>

</div>

<div class="container">
  <div class="row text-center">

    <%@course.videos.each do |video|%>
      <%=render video %>

    <%end %>

  </div>

</div>




<div>
    <%if policy(@course).edit? %>
  <%= link_to "Edit this courses", edit_course_path(id: @course.id) %> |
    <%end %>
  <%= link_to "Back to courses", courses_path %>
<%if policy(@course).destroy? %>
  <%= button_to "Destroy this courses", @course, method: :delete %>
  <%end %>
</div>
