<div class="text-dark text-center ">
  <h1>
    Kapitoly kurzu <%=@course.title %>
  </h1>
</div>

<div class="container">
  <div class="row text-center">
    <%@course.videos.each do |video|%>
      <%=render video %>
    <%end %>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "Naspäť nakurzy", courses_path,class: 'btn btn-outline-light btn-info btn-text-light text-uppercase mb-3' %>
    <%if policy(@course).edit? %>
      <%= link_to "Edituj kurz", edit_course_path(id: @course.id),class: 'btn btn-outline-light btn-warning btn-text-light text-uppercase mb-3' %>
    <%end %>
    <%if policy(@course).destroy? %>
      <%= button_to "Vymaž tento kurz", @course, method: :delete,class: 'btn btn-outline-light btn-danger btn-text-light text-uppercase mb-3' %>
    <%end %>
  </div>
</div>





