<div class="">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
          <div class="row">
            <%= builder.label :Odpoveď, class: "form-label" %>
            <%= builder.text_field :answer, class: "form-control" %>
          </div>
          <div class="row">
            <div class="col-8 ">
              <%= builder.label :Body_za_možnosť, class: "form-label" %>
              <%= builder.number_field :partialPoints, class: "form-control" %>
            </div>
            <div class="col-4 mt-1">
              <%= builder.label :Je_odpoveď_správna?, class: "form-label" %>
              <%= builder.select :is_true, options_for_select([true, false]), class: "form-select form-select-sm mb-3" %>
            </div>
          </div>
        </div>
      </div>
      </div>
    <% if current_page?(action: 'new') %>
    <%= link_to "Odstráň možnosť", "#", class: 'remove-fields' %>
      <%end %>
  </div>
</div>
<script>
    document.querySelectorAll('.remove-fields').forEach((el) => {
        el.addEventListener('click', (e) => {
            e.preventDefault();
            console.log('event: ', e);
            e.target.parentElement.remove();
        })
    })
</script>
