<section class="Form my-4 mx-5 bg-dark  text-light text-center text-sm-start rounded">
  <div class="container ">
    <div class="row d-sm-flex align-items-center justify-content-between">
      <div class="col-lg-12">
        <%= form_with(model: test, local: true) do |form| %>
          <% if test.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>
              <ul>
                <% test.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <form>
            <div class="row text-center">
              <div class="col-6 text-warning">
                <%= form.label :Celkový_počet_bodov, style: "display: block" %>
                <%= form.number_field :totalPoints %>
              </div>
              <div class="col-6 text-warning">
                <%= form.label :Názov_testu, style: "display: block" %>
                <%= form.text_field :title %>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div>
                  <%= form.fields_for :open_questions do |builder| %>
                    <%= render 'tests/open_question_fields', builder: builder %>
                  <% end %>
                  <% if current_page?(action: "new") %>
                    <%= link_to_add_fields 'Pridaj otvorenú otázku', form, :open_questions %>
                  <% end %>
                </div>
              </div>
              <div class="col-6">
                <%= form.fields_for :multiple_choice_questions do |builder| %>
                  <%= render 'tests/multiple_choice_question_fields', builder: builder %>
                <% end %>
                <% if current_page?(action: "new") %>
                  <%= link_to_add_fields 'Pridaj otázku z možnosťami', form, :multiple_choice_questions %>
                <% end %>
              </div>
            </div>
            <%= form.submit "Ulož" %>
        <% end %>
        </form>
      </div>
    </div>
  </div>
</section>


<script>
    $('form').on('click', '.add_fields', function (event) {
        var regexp, time;
        time = new Date().getTime();
        regexp = new RegExp($(this).data('id'), 'g');
        $(this).before($(this).data('fields').replace(regexp, time));
        return event.preventDefault();
    });
</script>
