<h1>Edituj svoj komentár</h1>

<%= form_with method: :put do |form| %>
  <%= form.label :Edituj_komentar, style: "display: block" %>
  <%= form.text_area :text %>
  <%= form.submit %>
<% end %>


<div>
  <%= link_to "Back to comentars", video_path %>
</div>
