<h1>Edituj svoj komentár</h1>

<%= form_with method: :put do |form| %>
  <%= form.label :Edituj_komentar, style: "display: block" %>
  <%= form.text_area :text %>
  <%= form.submit %>
<% end %>


<div>
  <%= link_to "Back to comentars", video_path(@video) %>
</div>
<%#= link_to "Naspäť do kurzu", video_path(id: ) , method: :get, class: 'btn btn-dark text-warning m-5 mb-0 mt-0' %>
